{% extends "admin/change_list.html" %}

{% block content %}
<h2>Query Categories</h2>
<div style="display: flex; flex-direction: column; align-items: center;">
    <canvas id="queryChart" width="800" height="300"></canvas>
</div>

<!-- Display the records below the charts -->
<div>
    <h2>Query Records</h2>
    {{ block.super }}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const queryCtx = document.getElementById('queryChart').getContext('2d');
        const queryChartData = {{ chart_data|safe }};
        const queryChart = new Chart(queryCtx, {
            type: 'bar',
            data: {
                labels: queryChartData.labels,
                datasets: [{
                    label: 'Number of Queries',
                    data: queryChartData.data,
                    backgroundColor: queryChartData.background_colors,
                    borderColor: queryChartData.border_colors,
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { 
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    },
                    x: {
                        ticks: {
                            maxRotation: 45,
                            minRotation: 45
                        },
                        barThickness: 40
                    }
                }
            },
        });
    });
</script>
{% endblock %}
