<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{ razorpay_key }}",
        amount: "{{ amount_in_paise }}",
        currency: "INR",
        name: "ARTIV – Bid Online",
        description: "Payment for Artwork Purchase",
        image: "https://example.com/your_logo",
        order_id: "{{ razorpay_order_id }}",
        callback_url: "{{ callback_url }}",
        redirect: true,
        prefill: {
            "name": "{{ request.user.get_full_name }}",
            "email": "{{ request.user.email }}",
            //"contact": "{{ request.user.profile.phone_number|default:'9999999999' }}"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
