:root {
    /* Light Mode Variables */
    --background-color: #f8f9fa;
    --text-color: #000;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --title-color: #000;
    --accordion-bg-color: #fff;
    --accordion-border-color: #ddd;
    --accordion-header-bg-color: #f7f7f7;
    --accordion-header-text-color: #000;
}

.dark-mode {
    /* Dark Mode Variables */
    --background-color: #343a40;
    --text-color: #fff;
    --link-color: #66b2ff;
    --link-hover-color: #3399ff;
    --title-color: #fff;
    --accordion-bg-color: #3d4957;
    --accordion-border-color: #666;
    --accordion-header-bg-color: #232528;
    --accordion-header-text-color: #fff;
}

body {
    /* General Background and Text Color */
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Title Styling */
.faq-title {
    margin: 20px 0;
    color: var(--title-color);
}

/* Accordion Styling */
.accordion-item {
    border-radius: 5px;
    border: 1px solid rgb(67, 67, 67) !important;
    margin-bottom: 10px;
    background-color: var(--accordion-bg-color); /* Ensure entire accordion item background updates */
}

/* Accordion Button (Questions) */
.dark-mode .accordion-button {
    background-color: var(--accordion-header-bg-color);
    color: var(--accordion-header-text-color);
}

.dark-mode .accordion-button:focus {
    box-shadow: none;
}

.dark-mode .accordion-button:not(.collapsed) {
    color: var(--accordion-header-text-color);
    background-color: var(--accordion-header-bg-color);
}

/* Accordion Body (Answers) */
.accordion-body {
    background-color: var(--accordion-bg-color);
    color: var(--text-color); /* Text color inside the accordion body */
}

/* Full Height FAQ Section */
.vh-100_faq {
    min-height: calc(100vh - 100px); /* Adjust for footer height */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Font Styling */
.open-sans-faq {
    font-family: "Open Sans", sans-serif;
    font-weight: 650;
}

.poppins-regular-faq {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}